#Toaster {
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: visible;
  z-index: var(--chakra-z-index-toast);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  & ul {
    display: flex;
    flex-direction: column;
    gap: var(--chakra-spacing-2);

    & li {
      &:last-of-type {}
    }
  }
}
