#DataList {

  &.view--table {}
  &.view--files {}

  &.model--articles {}
  /* TODO */

  &Controls {}
  &Pagination {}

}

#DataListTableView {

  &.model--articles {}
  /* TODO */

}

#DataListFilesView {

  &.model--files {}

}
